
.work{
    
    border: none;
    background: none;
}
.study{
    /* margin: 10px; */
    border: none;
    background: none;
}
.entertain{
    /* margin: 10px; */
    border: none;
    background: none;
}
.faimly{
    /* margin: 10px; */
    border: none;
    background: none;
}

.work{
    
  background-color: #9cadb9;
  border-radius: 50%;
  display: inline-block;
}
.study{
    /* height: 25px;
  width: 25px; */
  background-color: #7abfd4;
  border-radius: 50%;
  display: inline-block;
}
.entertain{
    height: 25px;
  width: 25px;
  background-color: #f08282;
  border-radius: 50%;
  display: inline-block;
}
.faimly{
    height: 25px;
  width: 25px;
  background-color: rgb(81, 231, 131);
  border-radius: 50%;
  display: inline-block;
}


.titledesdiv{
    background-color: rgb(245, 245, 180);
    border-radius: 10px;
}
.editdeletbtn{
    border: none;
    background: none;
    
}
.editdeletbtn2{
  float: left;
    margin-left: 55px;  
    margin-top: -15px;
}
.titledesdiv1{
    /* border: 1px solid gray; */
    border-radius: 10px;
    background-color: #f5f5b4;
    height: 55%;
}

.editdeletbtn1{
    border: none;
    background: none;
    float:left;
}
.editdeletbtn3{
    position: absolute;
    margin-left: 30px;
    margin-top: -30px;
}
.taskdone{
    
    float: right;
    margin-right: 10px;
}
.taskdone1{
    display: flex;
    float: right;
    margin-right: 10px;
}
.work1{
    height: 25px;
  width: 25px;
  /* margin-right: 5px; */
  background-color: #9cadb9;
  border-radius: 50%;
  display: inline-block;
}
.study1{
    height: 25px;
  width: 25px;
  background-color: #7abfd4;
  border-radius: 50%;
  display: inline-block;
}
.entertain1{
    height: 25px;
  width: 25px;
  background-color: #f08282;
  border-radius: 50%;
  display: inline-block;
}
.faimly1{
    height: 25px;
  width: 25px;
  background-color: rgb(81, 231, 131);
  border-radius: 50%;
  display: inline-block;
}


.edbtn{
    border: 1px solid gray;
    border-radius: 11%;
    height: 5vh;
    width: 6vw;
   position: relative;
   
}
  /* @media screen and (max-width: 1118px) {
    .titledesdiv{
        border: 1px solid gray;
        background-color: rgb(245, 245, 180);
        height: 30%;
    }
  } */