.tagbtn{
  width: 46vw;
    margin-left: -7%;
}
.transparent{
  width: 100vw;
  height: 100vh;
  background-color: rgba(105, 103, 103, 0.322);
  position: absolute;
}

.maindivtf{
    margin: 5% 20%;
    height: 76vh;
    width: 60vw;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #888888;
    background:white;
    padding-top: 1px;
    
}
.maindiv2{
    margin: 6% 10%;
}
.cancelbtn{
  border: none;
}
.addbtn{
  background-color: gray;
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 70px;
}
.work{
    height: 25px;
  width: 25px;
  background-color: #9cadb9;
  border-radius: 50%;
  /* margin-right: 10px; */
  display: inline-block;
}
.study{
    height: 25px;
  width: 25px;
  background-color: #7abfd4;
  border-radius: 50%;
  /* margin-right: 10px; */
  display: inline-block;
}
.entertain{
    height: 25px;
  width: 25px;
  background-color: #f08282;
  border-radius: 50%;
  
  display: inline-block;
}
.faimly{
    height: 25px;
  width: 25px;
  background-color: rgb(81, 231, 131);
  border-radius: 50%;
  margin-left: 6%;
  display: inline-block;
}
.workspan{
  margin-left: 30px;
}
.studyspan{
  margin-left: 31px;
}
.entertainspan{
  margin-left: 30px;
}
.faimlyspan{
  margin-left: 30px;
}
